* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Source Code Pro', monospace;
    background-color: burlywood;
    color: darkgreen;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hidden {
    display: none;
  }
  
  section {
    margin-top: 20px;
  }
  
  .error-message {
      color: red;
  }
